.createContainer{
    background-color: #9b9a9a;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
    padding-bottom: 2%;
}
.createContainer > h2{
    font-weight: bold;
    text-align: center;
    padding: 2% 0 1%;
}
.container {
    max-width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly !important;
}
.section {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px ;
    margin: 1%;
    width: 45%;
}
.section > h3{
    text-align: center;
    font-weight: bold;
}
.form-group {
    margin: 3% 0;
    font-size: 1.1em;
}
.form-group > input{
    border-radius: 10px;
    border: none;
}
.form-group > select{
    padding: 1% 3%;
    text-align: start;
}
.selections{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.section3{
    width: 93%;
    display: block;
    margin: auto;
}
.section3 >.form-group{
    margin-top: 1%;
}
.selections > .form-group{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Section4 (final) */
.section4{
    width: 93%;
    display: block;
    margin: 1% auto;
}
.section4Form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
}
.section4Form > .form-group{
    margin: 2% 0;
}
.section4Form > .form-group > input{
    width: 80%;
}
.btnCreate{
    display: block;
    background-color: #4caf50;
    width: 25%;
    padding: .9%;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 1% auto;
    font-size: 1.3em;
}