.padre-nav {
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}



.salir {}

.boton-salir {
    margin: 3%;
    padding: 0.5em 2em;
    border-radius: 10px;
    border: none;
}